{% extends "base.html" %}
{% load static %}
{% load carts_tags %}



{% block css %}
    <link rel="stylesheet" href="{% static "base\source\styles\3cart_css\cart.css" %}">
{% endblock css %}

{% block content %}
    
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="row">
                    {% user_carts request as carts %}
                    <div class="col-md-7">
                        <div class="cart-content">
                            <div class="modal-header">
                            </div>
                            <div class="modal-body">
                                <h3 class="card-text text-center mb-4">Корзина</h3>
                                <div class="container" id="cart-items-container">
                                    {% include "carts/includes/included_cart.html" %}
                                </div>
                                <div style="text-align:center">
                                    <a class="create-order-button btn btn-dark" href="{% url "goods:catalog" category_slug="all" %}">
                                    Назад в Каталог
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="row px-2">
                    <div class="col-lg-12 sidebar my-4">

                    </div>
                    <div class="col-lg-12 sidebar my-4">

                    </div>
                    <div class="col-lg-12 sidebar my-4">

                    </div>
                    <div class="col-lg-12 sidebar my-4">

                    </div>
                </div>
            </div>  
        </div>
    </div>
{% endblock  %}

    