.profile section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}


.profile-header{
    font-weight: 1000;
    font-size: 40px;
}

.profile .wrapper{
    width: 420px;
    color:aquamarine;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    padding:30px 40px;
    border:2px solid rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile .wrapper-profile{
    color:aquamarine;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    padding:30px 40px;
    border:2px solid rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.wrapper h1{
    font-size: 50px;
    font-weight: 500;
    text-align: center;

}

.wrapper .input-box{
    width: 100%;
    height:50px;
    margin:30px 0;
}

.wrapper
.input-box,
.remember,
.submit-button,
.register-link{
    text-align: center;
}

.input-box input{
    width:75%;
    height:75%;
    text-align: center;
    font-size: 25px;
    background-color: white;
    border: none;
    outline: none;
    border: 2px solid;
    border-radius: 100px;
}

.wrapper .remember{
    display: flex;
    justify-content: space-between;
}


.remember label input{
    margin-right: 5px;
}

.remember a{
    text-decoration: none;
}

.register-link a{
    text-decoration: none;
}

.remember a:hover{
    color:aquamarine;
    text-decoration: underline;
}

.register-link a:hover{
    color:aquamarine;
    text-decoration: underline;
}

.wrapper .btn{
    width:75%;
    border:none;
    outline:none;
    border-radius:40px;
    font-weight: 1000;
}

input[type="file"] {
  visibility: hidden;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color:#000000;
  background-color: blanchedalmond;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.profile-image{
    width: 140px;
    height: 140px;
    text-align: center;
}

.profile-image img{
    width: 140px;
    height: 140px;
}

.profile .input-box input{
    background-color:blanchedalmond
}

.form-control input{
    background-color:blanchedalmond
}

.card-wrapper{
    color:aquamarine;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    padding:30px 40px;
    border:2px solid rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.accordion{
    color:aquamarine;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    padding:30px 40px;
    border:2px solid rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.accordion-item{
    color:aquamarine;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    padding:30px 40px;
    border:2px solid rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.accordion-header{
    color:aquamarine;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    padding:30px 40px;
    border:2px solid rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.accordion-button{
    background-color: blanchedalmond;
    border-radius: 100px;
    padding:30px 40px;
    border:2px solid rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.accordion-body thead, tbody{
    color:blanchedalmond;
}

.accordion-body thead, tbody a{
    color:blanchedalmond;
}

.dropdown-toggle::after {
  content: none;
}

.custom-shadow {
  box-shadow: 5px 5px 25px 19px #000000;
}

.product_id {
  color: gray;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}