@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

body{
    height: 100%;
}

body{
    font-family: "Amatic SC";
    font-size: 20px;
    font-weight: 600;
}

.wrapper{
    min-height: 100%;
    display:flex;
    flex-direction: column;
}

.section{
    flex: 1 1 auto;
}

img{
    border-radius: 20%;
}

p{
    color:aquamarine;
}

.search-form{
    margin-left:200px;
    height: 50px;
    
}

.search-button{
    height:50px;
    line-height: 0px;
    justify-content: center center;
}

.search-button a{
    text-decoration: none;
    color:aquamarine;
}

.search-input{
    width:200px;
    height: 50px;
    text-align:center;
}

.container{
    position: relative;
}

.modal-content{
    color:aquamarine;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    padding:30px 40px;
    border:2px solid rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-body{
    color:aquamarine;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    padding:30px 40px;
    border:2px solid rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-li{
    color:aquamarine;
    background-color: rgba(0, 0, 0, 0.2);
    width:300px;
    border-radius: 100px;
    border:2px solid rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.btn{
    display: inline-block;
    padding: 1.5rem 3rem;
    background-color: rgba(255, 255, 255, 0.2);
    color: aquamarine;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.8);
    font-size: 1.4rem;
    font-weight: 800;
    animation: animate .4s linear .4s backwards;
    border-radius: 20%;
}

.call-anim{
    animation: call 2s ease 0s infinite normal forwards;
}

.container .slide-container .slide .content h3{
    font-weight: bolder;
    font-size:calc(30px + (80-30) * ((100vw - 300px) / (1600-300)));
    animation: animate .4s linear .4s backwards;
}

.container .slide-container .slide .content p{
    font-size:calc(13px + (25-13) * ((100vw - 300px) / (1600-300)));
    max-width: 80rem;
    padding: 1rem 4rem;
    animation: animate .4s linear .6s backwards;
}

.container .slide-container .slide .content .btn{
    display: inline-block;
    padding: 1.5rem 3rem;
    background-color: rgba(255, 255, 255, 0.2);
    color: aquamarine;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.8);
    font-size: 1.4rem;
    font-weight: 800;
    animation: animate-rotate .4s linear 1s backwards;
}

@keyframes animate-rotate{
    0%{
        opacity: 0;
        transform: rotate(360deg);
    }
}

@keyframes animate{
    0%{
        opacity: 0;
        transform: scale(.5) translateY(-5rem);
    }
}

@keyframes call {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
}

.slide-text,
.footer-text{
    color:aquamarine;
    margin: auto auto
}