{% load static %}


{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
        <div id="notification" class="start-50 translate-middle-x z-3 alert alert-success base-alert fade show custom-shadow" role="alert">
            {{ message }}
        </div>
        {% endif %}
        {% if message.tags == 'warning' %}
        <div id="notification" class="start-50 translate-middle-x z-3 alert alert-danger base-alert fade show custom-shadow" role="alert">
            {{ message }}
        </div>
        {% endif %}
    {% endfor %}
{% else %}
    <div id="jq-notification" class="start-50 translate-middle-x z-3 alert alert-success base-alert fade show custom-shadow" style="display: none;" role="alert">
    </div>
{% endif %}
        