{% extends "base.html" %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static "base\source\styles\2catalog_css\1catalog.css" %}">
{% endblock %}

{% block content %}

    <div class="container-fluid mt-4">
        <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="row">
                        <div class="product-card">
                            <div>
                                {% if product.discount %}<span class="discount badge bg-warning text-dark"> Скидка {{product.discount}} % </span>{% endif %}
                                <img src="{{ product.image.url }}" class="product-img-top"
                                alt="{{ product.name }}">    
                            </div>
                            <div class="product-card-body">
                                <h5 class="product-title">{{ product.title }}</h5>
                                <p class="card-id"> ID: {{ product.display_id }} </p>
                                <p class="product-card-text">
                                    {{ product.description }}
                                </p>
                                {% if product.discount %}
                                    <p><s> Обычная цена: {{ product.price }} </s></p>
                                    <p><strong>Цена со скидкой: {{ product.sell_price }} рублей</strong></p>
                                {% else %}
                                    <p>Цена: {{product.price}} рублей</p>
                                {% endif %}
                                <p>В наличии: {{product.quantity}}</p>
                                <a href="{% url "carts:cart_add" %}" class="btn add-button add-to-cart" data-product-id="{{product.id}}">Добавить в корзину</a>
                                {% csrf_token %}
                                <a href="{% url "goods:catalog" category_slug='all' %}" class="btn">Назад в каталог</a>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 text-center mt-4">
                            <p>Есть вопросы? Напишите нам в директ!</p>
                        </div>
                        <div class="col-lg-12 col-md-12 text-center">
                            <p><a href="https://www.instagram.com/direct/t/102299521419536" class="direct-href" target="_blank"><img
                                        class="call-anim" style="width: 40px" src="{% static "base\source\files\1main_files\direct.jpg" %}"
                                        alt="Наш директ"></a></p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="row px-2">
                        <div class="col-lg-12 sidebar my-4">

                        </div>
                        <div class="col-lg-12 sidebar my-4">

                        </div>
                        <div class="col-lg-12 sidebar my-4">

                        </div>
                        <div class="col-lg-12 sidebar my-4">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

