{% extends "base.html" %}
{% load static %}

{% block modal %}
    {% include "includes/modal_button.html" %}
{% endblock  %}

{% block css %}
    <link rel="stylesheet" href="{% static "3. profile\source\styles\profile.css" %}">
    <link rel="stylesheet" href="{% static "source\styles\bg-images\profile-bg-image\profile-bg-image.css" %}">
    <link href="{% static "source/files/webicons/free/fonts/basic/boxicons.css" %}" rel='stylesheet'>
{% endblock %}



{% block content %}
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-8 col-md-12">
                <div class="login-wrapper">
                    <form action="{% url "users:new-password" %}">
                        <h1> Восстановление пароля</h1>
                        <div class="input-box">
                            <p>Сейчас на ваш E-mail придет код подтверждения</p>
                            <input type="text" placeholder="Введите его тут для восстановления пароля" required>
                        </div>
                        <div style="text-align:center">
                            <a href="{% url "users:new-password" %}"><button type="submit" class="btn">Восстановить</a></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-2 col-md-12">
                    
            </div>
        </div>
    </div>
{% endblock %}


    

        
