{% autoescape off %}
Вы получили это сообщение, потому что вы (или кто-то другой) запросили восстановление пароля от учетной записи на сайте CrispyShop.

Пожалуйста, перейдите на эту страницу и введите новый пароль:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
В случае, если вы забыли имя пользователя, то вот оно: {{ user.get_username }} 

Спасибо за использование нашего сайта!

Команда сайта CrispyShop

{% endautoescape %}