{% extends "base.html" %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static "base\source\styles\4user_css\0profile.css" %}">
    <link rel="stylesheet" href="{% static "base\source\styles\4user_css\1login.css" %}">
{% endblock %}



{% block content %}
<div class="container-fluid mt-4">
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-8 col-md-12">
                <div class="login-wrapper">
                    <form method="post">
                        <h1>Восстановление пароля</h1>
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-box">
                                <p>Введите email вашего аккаунта, на который придет письмо с ссылкой на страницу восстановления пароля</p>
                                <input type="text" name="email" value="{% if form.email.value %}{{form.email.value}}{% endif %}" style="width:350px" placeholder="Введите email тут" required>
                                {% if form.email.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.email.errors}}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="login-button">
                            <a><button type="submit" class="btn">Восстановить</button></a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-2 col-md-12">
                            
            </div>
        </div>
    </div>
{% endblock %}