{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "base\source\styles\4user_css\0profile.css" %}">
    <link rel="stylesheet" href="{% static "base\source\styles\4user_css\1login.css" %}">
{% endblock %}

{% block content %}
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-8 col-md-12">
                <div class="login-wrapper">
                    <h1 style="margin-bottom:40px">Сброс пароля</h1>
                    <p style="font-size:25px; margin-bottom:40px">Пароль успешно изменен.</p>
                    <a class="href" style="font-size:25px; color:gold;" href="{% url "users:login" %}">Вернитесь на страницу входа</a>
                </div>
            </div>
            <div class="col-lg-2 col-md-12">
                            
            </div>
        </div>
    </div>

{% endblock %}