{% extends "base.html" %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static "base\source\styles\4user_css\0profile.css" %}">
    <link rel="stylesheet" href="{% static "base\source\styles\4user_css\1login.css" %}">
{% endblock %}



{% block content %}
<div class="container-fluid mt-4">
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-8 col-md-12">
                <div class="login-wrapper">
                    <form method="post">
                        {% csrf_token %}
                        <h1>Изменение пароля</h1>
                        <div ation= "{% url "users:password_reset_complete" %}" class="row">
                            <div class="input-box">
                                <label class="form-label" for="New password"></label>
                                <input type="password" id="New password" name="new_password1" style="width:350px" placeholder="Новый пароль" required>
                                {% if form.new_password1.value and form.new_password1.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.new_password1.errors}}</div>
                                {% endif %}
                            </div>
                            <div class="input-box">
                                <label class="form-label" for="New password confirmation"></label>
                                <input type="password" id="New password confirmation" name="new_password2" style="width:350px" placeholder="Проверьте пароль" required>
                                {% if form.new_password2.value and form.new_password2.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.new_password2.errors}}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="login-button">
                            <a><button type="submit" class="btn">Изменить пароль</button></a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-2 col-md-12">
                            
            </div>
        </div>
    </div>
{% endblock %}