{% extends "base.html" %}
{% load static %}
{% load carts_tags %}


{% block css %}
    <link rel="stylesheet" href="{% static "base\source\styles\4user_css\0profile.css" %}">
{% endblock %}



{% block content %}
    
    <div class="container-fluid mt-4" >
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-9 col-md-10">
                <div class="row">
                    <div class="container mt-5">
                        <div class="row wrapper-profile">
                            <div class="col-md-5">
                                <div class="profile p-4 mb-4 mx-2 rounded custom-shadow" style="text-align:center">
                                    <h3 class="profile-header text-center mb-4">Профиль</h3>
                                    <form action="{% url "users:profile" %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}

                                        {% if user.image %}
                                            <div class="profile-image mb-2" style="margin-left:105px">
                                                <img src="{{ user.image.url }}" alt="Изображение профиля">
                                            </div>
                                        {% else %}
                                            <div class="profile-image mb-2" style="margin-left:105px">
                                                <img src="{% static "base/source/images/profile_images/profile image.jpg" %}" alt="Изображение профиля">
                                            </div>
                                        {% endif %}
                                        <div class="input-box">
                                            <label for="file-upload" class="custom-file-upload">
                                                Загрузить изображение
                                            </label>
                                            <input type="file" name="image" id="file-upload">
                                            {% if form.image.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show">{{form.image.errors}}</div>
                                            {% endif %}
                                        </div>
                                        <div class="input-box  mb-2">
                                            <input type="text" style="background-color:blanchedalmond" name="first_name" value="{% if form.first_name.value %}{{form.first_name.value}}{% endif %}" placeholder="Имя">
                                            {% if form.first_name.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show">{{form.first_name.errors}}</div>
                                            {% endif %}
                                        </div>
                                        <div class="input-box  mb-2">
                                            <input type="text" style="background-color:blanchedalmond" name="last_name" value="{% if form.last_name.value %}{{form.last_name.value}}{% endif %}" placeholder="Фамилия">
                                            {% if form.last_name.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show">{{form.last_name.errors}}</div>
                                            {% endif %}
                                        </div>
                                        <div class="input-box  mb-2">
                                            {% if form.birth_day.value %}
                                                <input type="text" style="background-color:blanchedalmond" name="birth_day" value="{{ form.birth_day.value }}" placeholder="Дата рождения"> 
                                            {% else %}
                                                <input type="date" style="background-color:blanchedalmond" name="birth_day" value="{{ form.birth_day.value }}" placeholder="Дата рождения">
                                            {% endif %}
                                            {% if form.birth_day.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show">{{form.birth_day.errors}}</div>
                                            {% endif %}
                                        </div>
                                        <div class="input-box  mb-2">
                                            <input type="text" style="background-color:blanchedalmond" name="username" value="{% if form.username.value %}{{form.username.value}}{% endif %}" placeholder="Имя пользователя">
                                            {% if form.username.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show">{{form.username.errors}}</div>
                                            {% endif %}
                                        </div>
                                        <div class="input-box  mb-2">
                                            <input type="text" style="background-color:blanchedalmond" name="email" value="{% if form.email.value %}{{form.email.value}}{% endif %}" placeholder="E-mail">
                                            {% if form.email.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show">{{form.email.errors}}</div>
                                            {% endif %}
                                        </div>
                                        {% comment %} <div class="input-box  mb-2">
                                           <input type="password" name="new_password" style="margin-bottom:40px" value="{% if form.password1.value %}{{form.password1.value}}{% endif %}" placeholder="Новый пароль">
                                            {% if form.new_password.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show">{{form.new_password.errors}}</div>
                                            {% endif %}
                                        </div>
                                        <div class="input-box  mb-2">
                                            <input type="password" name="current_password" value="{% if form.password2.value %}{{form.password2.value}}{% endif %}" placeholder="Текущий пароль">
                                            {% if form.current_password.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show">{{form.current_password.errors}}</div>
                                            {% endif %}
                                        </div> {% endcomment %}

                                        <div style="text-align:center">
                                            <button type="submit" class="btn" style="margin-bottom:20px">Внести изменения</button>
                                        </div>
                                    </form>
                                    <div style="text-align:center; margin-bottom:20px">
                                        {% if user.is_admin or user.is_staff %}
                                            <a href="{% url "admin:index" %}" style="text-decoration:none; color:aquamarine;"><button type="submit" class="btn">Админ-панель</button></a>
                                        {% endif %}
                                    </div>
                                    <div style="text-align:center">
                                        <a href="{% url "users:logout" %}" style="text-decoration:none; color:aquamarine"><button type="submit" class="btn">Выйти из профиля</button></a>
                                    </div>
                                    
                                </div>
                            </div>
                            {% user_carts request as carts %}
                            <div class="col-md-7">
                                <div class="p-4 mb-4 mx-2 rounded custom-shadow" style="text-align:center">
                                    <h3 class="profile-header text-center mb-4">Корзина</h3>
                                    <div class="container" id="cart-items-container">
                                        {% include "carts/includes/included_cart.html" %}
                                    </div>
                                    <a href="{% url "goods:catalog" category_slug='all' %}" class="btn btn-dark" style="margin-top:20px">
                                        Назад в каталог
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="p-4 mb-4 mx-2 rounded custom-shadow">
                                    <h3 class="profile-header text-center mb-4">Мои заказы</h3>
                                    <div class="container">
                                        <div class="accordion" id="accordionExample">
                                            {% for order in orders %}
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="heading{{ order.id }}">
                                                        <button class="accordion-button {% if order != orders.0 %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ order.id }}" aria-expanded="false" aria-controls="collapse{{ order.id }}">
                                                            Заказ № {{ order.id }} - {{ order.created_timestamp }} | Статус: <strong class="mx-2">{{order.status}}</strong>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse{{ order.id }}" class="accordion-collapse collapse {% if order == orders.0 %}show{% endif %}" aria-labelledby="heading{{ order.id }}" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <table class="table table-dark table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Товар</th>
                                                                        <th>Количество</th>
                                                                        <th>Цена</th>
                                                                        <th>Общая стоимость</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for item in order.orderitem_set.all %}
                                                                    <tr>
                                                                        <td><a class="text-white" href="{% url 'goods:product' item.product.slug %}">{{ item.product.name }}</a></td>
                                                                        <td>{{ item.quantity }}</td>
                                                                        <td>{{ item.price }}</td>
                                                                        <td>{{ item.products_price }}</td>
                                                                        
                                                                    </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- Закончилась разметка заказов -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


        
    