.index{
    background: #ffffff url(CrispyShop.webp) center top/cover no-repeat;
}

.carousel-inner img{
    border-radius: 50px;
    height:600px;
}

.carousel-inner{
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}

.bgvideo-container{
    display:flex;
    justify-content:center;
    display: grid;
}

.bgvideo a{
    text-decoration: none;
}

.bgvideo {
    width: 100%;
    height: 70vh;
    position: relative;
    margin:auto;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgvideo video{
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
    opacity: 0.5;
    border-radius: 500px;
    border: 10px ridge silver;
    box-shadow: 4px 4px 8px rgb(192, 192, 192, 0.8);
}

.bgvideo video:hover{
    border: 10px ridge gold;
}

.video-text{
    position: relative;
    color: white;
    z-index: 2;
    font-size: 60px;
    font-weight: 1000px;
}

.hello-text h2{
    color: aquamarine;
    font-size: 50px;
    font-weight: 1000;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20%;
    margin-bottom: 100px;
}

.hello-text h2:hover{
    color: black;
    font-size: 55px;
    background-color: rgba(127, 255, 212, 0.5);
}

.hello-link{
    text-decoration: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-color: rgb(0, 0, 0);
    font-weight: 1000;
}

.carousel-item{
    font-weight: 1000;
    font-size: 50px;
    text-align: center;   
}

.carousel-title{
    margin-top: 225px;
}

.slide-text a{
    display: inline-block;
    padding: 1.5rem 3rem;
    background-color: rgba(255, 255, 255, 0.2);
    color: aquamarine;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.8);
    font-size: 1.4rem;
    font-weight: 800;
    border-radius: 20%;
}

.carousel-title{
    color:aquamarine;
}

.carousel-inner{
    height:600px;
}
