@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

body{
    height: 100%;
}

a{
    text-decoration: none;
}

body{
    font-family: "Amatic SC";
    font-weight: 600;
}

.wrapper{
    min-height: 100%;
    display:flex;
    flex-direction: column;
}

.section{
    flex: 1 1 auto;
}

img{
    border-radius: 20%;
}

p{
    color:aquamarine;
}

.profile-button:hover{
    color:gold;
    background-color: aquamarine;
    border-radius: 30px;
    font-size: 30px;
}

.base-alert{
    position:fixed;
    margin-bottom: 50px;
    width: 500px;
    z-index:1001;
}

.profile-alert{
    margin-top: 10px;
    height: 60px;
    width: 350px;
}

.search-form{
    margin-left:200px;
    height: 50px;
    
}

.search-button{
    height:50px;
    line-height: 0px;
    justify-content: center center;
}

.search-button a{
    text-decoration: none;
    color:aquamarine;
}

.search-input{
    width:200px;
    height: 50px;
    text-align:center;
}

.container{
    position: relative;
}

.btn{
    display: inline-block;
    padding: 1.5rem 3rem;
    background-color: rgba(255, 255, 255, 0.2);
    color: aquamarine;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.8);
    font-size: 1.4rem;
    font-weight: 800;
    border-radius: 20%;
}

.btn:hover{
    color:black;
    background-color: aquamarine;
    font-size:20px
}

.call-anim{
    animation: call 2s ease 0s infinite normal forwards;
}

.slide-change{
    text-decoration: none;
    color:aquamarine;
}

.slide-change:hover{
    font-size: 50px;
    color:blanchedalmond;
}


@keyframes animate-rotate{
    0%{
        opacity: 0;
        transform: rotate(360deg);
    }
}

@keyframes animate{
    0%{
        opacity: 0;
        transform: scale(.5) translateY(-5rem);
    }
}

@keyframes call {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
}

.bottom-text{
    color:aquamarine;
    font-size: 24px;
    font-weight: 600;
}