{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static "source\styles\bg-images\index-bg-image\index-bg-image.css" %}">
    <link rel="stylesheet" href="{% static "0. index\source\styles\index.css" %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-1 position-fixed z-3">
            <div class="dropdown mb-2">
                <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Каталог
                    <img class="mx-1" src="{% static "source\cart\icons\grid-fill.svg" %}" alt="Catalog Icon" width="16"
                        height="16">
                </button>
                <ul class="dropdown-menu">
                    {% tag_categories as categories %}
                    {% for category in categories %}
                        <li> <a class="dropdown-item" href="{% url "goods:catalog" category.slug%}" aria-current="true"> {{category.name}} </a></li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <button type="button" class="btn btn-dark btn-secondary d-flex" id="modalButton"
                    aria-expanded="false">
                    <img class="mx-1" src="{% static "source\cart\icons\basket.svg" %}" alt="Catalog Icon" width="24"
                        height="24">
                    <span id="goods-in-cart-count">0</span>
                </button>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h3 class="text-center mb-4">Корзина</h3>
                            <div class="container" id="cart-items-container">
                                {% include "carts/includes/included_cart.html" %}
                            </div>
                            <div style="text-align:center">
                                <a class="btn btn-dark" href="orders/create_order.html">
                                    Оформить заказ
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bgvideo-container">
        <div class="bgvideo">
            <a href="#carousel">
                <video src="{% static "0. index\source\videos\Japan.mp4" %}" type="video/mp4" autoplay muted loop></video>
            </a>
            <a href="#carousel">
                <div class="video-text">
                    <h1>ПРИГЛАШАЕМ ТЕБЯ В ПУТЕШЕСТВИЕ ПО САМЫМ ЭКЗОТИЧЕСКИМ ВКУСАМ!</h1>
                </div>
            </a>
        </div>
    </div>

    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-4">
                        <div class="hello-text">
                            <a href="{% url "goods:catalog" category_slug='all' %}" class="hello-link">
                                <h2> Такого вы точно не найдете в обычных магазинах!</h2>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                    </div>
                </div>
                <div class="row">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide-to="0" class="active" aria-current="true"
                                aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide-to="3" aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide-to="4" aria-label="Slide 5"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide-to="5" aria-label="Slide 6"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide-to="6" aria-label="Slide 7"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide-to="7" aria-label="Slide 8"></button>
                        </div>
                        <div class="carousel-inner" style="height:600px" id="carousel">
                            <div class="carousel-item active">
                                <div class="d-block w-100">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <img src="{% static "1. catalog\source\images\Категории\sladosti.jpg" %}" class="w-100"
                                                alt="Сладости">
                                        </div>
                                        <div class="col-lg-6 col-md-6 slide-text">
                                            <p> Сладенькое </p>
                                            <a href="{% url "goods:catalog" category_slug='sladenkoe' %}" class="btn"> Перейти в каталог</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-block w-100">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <img src="{% static "1. catalog\source\images\Категории\ice-cream.jpg" %}" class="w-100"
                                                alt="Мороженое">
                                        </div>
                                        <div class="col-lg-6 col-md-6 slide-text">
                                            <p> Мороженко </p>
                                            <a href="{% url "goods:catalog" category_slug='morozhenko' %}" class="btn"> Перейти в каталог</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-block w-100">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <img src="{% static "1. catalog\source\images\Категории\drinks.jpg" %}" class="w-100"
                                                alt="Напитки">
                                        </div>
                                        <div class="col-lg-6 col-md-6 slide-text">
                                            <p> Напитки </p>
                                            <a href="{% url "goods:catalog" category_slug='napitki' %}" class="btn"> Перейти в каталог</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-block w-100">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <img src="{% static "1. catalog\source\images\Категории\energetics.jpg" %}" class="w-100"
                                                alt="Энергетики">
                                        </div>
                                        <div class="col-lg-6 col-md-6 slide-text">
                                            <p> Энергетики </p>
                                            <a href="{% url "goods:catalog" category_slug='energetiki' %}" class="btn"> Перейти в каталог</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-block w-100">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <img src="{% static "1. catalog\source\images\Категории\chipsy.jpg" %}" class="w-100"
                                                alt="Чипсы">
                                        </div>
                                        <div class="col-lg-6 col-md-6 slide-text">
                                            <p> Чипсики </p>
                                            <a href="{% url "goods:catalog" category_slug='chipsiki' %}" class="btn"> Перейти в каталог </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-block w-100">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <img src="{% static "1. catalog\source\images\Категории\noodles.jpg" %}" class="w-100"
                                                alt="Лапша">
                                        </div>
                                        <div class="col-lg-6 col-md-6 slide-text">
                                            <p> Лапша </p>
                                            <a href="{% url "goods:catalog" category_slug='lapsha' %}" class="btn"> Перейти в каталог</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-block w-100">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <img src="{% static "1. catalog\source\images\Категории\tokpokki.jpg" %}" class="w-100"
                                                alt="Токпокки">
                                        </div>
                                        <div class="col-lg-6 col-md-6 slide-text">
                                            <p> Токпокки </p>
                                            <a href="{% url "goods:catalog" category_slug='tokpokki' %}" class="btn"> Перейти в каталог </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-block w-100">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <img src="{% static "1. catalog\source\images\Категории\soyevye-zakuski.jpg" %}" class="w-100"
                                                alt="Соевые закуски">
                                        </div>
                                        <div class="col-lg-6 col-md-6 slide-text">
                                            <p> Соевые закуски </p>
                                            <a href="{% url "goods:catalog" category_slug='soevye-zakuski' %}" class="btn"> Перейти в каталог</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <button class="carousel-control-prev" type="button"
                            data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                            data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <div class="col-lg-12 col-md-12 text-center mt-4">
                        <p>Есть вопросы? Напишите нам в директ!</p>
                    </div>
                    <div class="col-lg-12 col-md-12 text-center">
                        <p><a href="https://www.instagram.com/direct/t/102299521419536" target="_blank"><img
                                    class="call-anim" style="width: 40px" src="{% static "source\files\direct.jpg" %}"
                                    alt="Наш директ"></a></p>
                    </div>

                </div>
            </div>

            <div class="col-lg-2 col-md-12">
                <div class="row px-2">
                    <div class="col-lg-12 sidebar my-4">

                    </div>
                    <div class="col-lg-12 sidebar my-4">

                    </div>
                    <div class="col-lg-12 sidebar my-4">

                    </div>
                    <div class="col-lg-12 sidebar my-4">

                    </div>
                </div>  
            </div>
        </div>
    </div>
{% endblock content %}
                    